<header>
    <nav class="navigator">
        <a href="#">
            <img class="logo" src="../assets/pictures/logo/logo.png" alt="Logo slim mom">
        </a>
        <ul class="links-list">
            <li class="links-list-item">
                <a href="#">
                    <svg class="slim-mom">
                        <use href="../assets/pictures/svg/sprite/sprite.svg#icon-slimmom"></use>
                    </svg>
                </a>
            </li>
            <li class="login links-list-item">
                <a class="nav-link" href="#">вход</a>
            </li>
            <li class="signup links-list-item">
                <a class="nav-link" href="#">регистрация</a>
            </li>
        </ul>
    </nav>
</header>